@model PetShop.Model.Animal
@{
    ViewBag.Title = "Pet Store - Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bar">
    <select name="categories">
        @foreach (var i in ViewBag.Categories)
        {
            <option>@i.Name</option>
        }
    </select>

    <a class="btn" asp-action="Create">Add Animal</a>
</div>


@foreach (var a in ViewBag.Animals)
{

    <div class="petBlock">
        <div class="imgBlock" style="background-image: url(@a.PictureName) "></div>
        <div class="petDit">

            <h3>@a.Name</h3>

            <label asp-for="Age"></label>
            <span>@a.Age</span>
            <br>

            <label asp-for="Discription"></label>
            <p>@a.Discription</p>

            <div class="adminBtns">
                <a class="btn" href="#">Edit</a>
                <a class="btn" href="#">Delete</a>
            </div>

        </div>

    </div>

}