@model IEnumerable<PetShop.Model.Animal>
@{
    ViewBag.Title = "Pet Store - Cataloge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<select class="combobox">
    <option value="" selected disabled hidden>Choose category</option>
    <option value="0">All</option>

    @foreach (var a in ViewBag.Categories)
    {
        
        <option value="@a.Id" >@a.Name </option>

    }
</select>

<div class="catalogeBlock">
    @foreach (var a in Model)
    {
    
        <div class="petBlock cataloge">
            <div class="imgBlock" style="background-image: url(@a.PictureName) "></div>
            <div class="petDit catalogeDit">
                <h3 class="petDit-content">@a.Name</h3>
                <a class="btn petDit-content" asp-controller="Cataloge" asp-action="ShowDetail" asp-route-name="@a.Name">Detail</a>
            </div>

        </div>
   
    }
</div>

<script>
    $(function(){
        $("select").on("input", function(){
            let selectedValue = $("select").val();
            window.location.href = "/Cataloge/Filter/" + selectedValue;
        });
    });
</script>

