@model PetShop.Model.Comments
@{
    ViewBag.Title = "ShowDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="petBlock">

    <div class="imgBlock" style="background-image: url(@ViewBag.Animal.PictureName) "></div>

    <div class="petDit">

        <h3>@ViewBag.Animal.Name</h3>

        <label>Age: </label>
        <span>@ViewBag.Animal.Age</span>
        <br>

        <label>Category Name: </label>
        <span>@ViewBag.Category.Name</span>
        <br>

        <label>Discription: </label>
        <p>@ViewBag.Animal.Discription</p>

    </div>

</div>

<h2>Comments</h2>
<div class="petComments">
    
    @foreach (var c in ViewBag.Comments)
    {
        <p class="commentP">@c.Comment</p>
    }
</div>

<div>
    <form asp-action="AddComment" method="post">
        <input class="Input" type="text" name="newComment" />
        <input class="Input" type="hidden" name="animalId" value="@ViewBag.Animal.Id" />
        <input class="Input" type="hidden" name="name" value="@ViewBag.Animal.Name" />
        <input class="btn" type="submit" value="AddComment"/>
    </form>
    
</div>


